/* MISC -------------------------------------------------------------------------------------------------------------------------------------------------------*/

@font-face{
    font-family: JejuMyeongjo;
    src: url(JejuMyeongjo-Regular.ttf);
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin:0;
    padding:0;
}

h1 {
    font-family: JejuMyeongjo;
    color: rgb(255, 255, 255)    ;
    font-size:xx-large;
    word-wrap: break-word;
        margin-top: 60px;
    word-wrap: break-word;
    text-align: center;
    z-index: 999999999;
  }

h2{
    position: absolute;
    margin-top: -100px;
    visibility: hidden;
}


  .spacer {
    height: 10000px;
  }

  .small_spacer {
    height: 100px;
  }

  .fade-in {
    opacity: 1;
    transition: opacity 1500ms;
  }

  .fade-out {
    opacity: 0;
    transition: opacity 1500ms;
  }

/* TOP BUTTONS -------------------------------------------------------------------------------------------------------------------------------------------------------*/

.btn-group{
    position: fixed;
    width: 100%;
    align-items: center;
    top:0;
    font-size: 1.2em;
    margin-bottom: 15%;
    margin-top:0;
    margin:0;
    padding:0;
}

.btn-group button {
    background-color: #606060;
    border:1px salmon;
    color: white;
    padding: 15px 0px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    margin: 0;
    float: left;
    font-family: JejuMyeongjo;
    font-size: 40px;
}

.btn-group button:not(:last-child){
    border-right: none;
}

.btn-group::after{
    content: "";
    clear: both;
    display: table;
}

.btn-group button:hover {
    background-color:blanchedalmond ;
    color: black;
}    
/* BACKGROUND ELEMENTS -------------------------------------------------------------------------------------------------------------------------------------------------------*/

.bg-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
    gap: 10px;
    margin-left: 20%;
}

.sparkles{
    background-image: url("sparkle-cloud.gif");
    position: absolute;
    width: 100vw;
    height:100vh;   
    transform: translateZ(-10px);
    z-index: -4;
}

.rectangle {
    width: 60%;
    height:100vh;
    justify-content: space-around;
    left: 20%;
    background-color: #A0A0A0;
    position: fixed;
    z-index: -1;
    top: 0;
    
}

.backgroundimage{
    background-image: url("");
    background-color: #202020;
    width: 100vw;
    height:100vh;
    position: fixed;
    z-index: -3;
}

/* MUSIC BUTTONS -------------------------------------------------------------------------------------------------------------------------------------------------------*/

.theme-btn-group {
    display: flex;
    height: 100px;  
    gap: 5%;
    width: 60%;
    margin-left: 20%;
    justify-content: center;
    flex-wrap: wrap;
    
}

.theme-btn-group button {
    color: darkslategray;
    padding: 34px 10px;
    cursor: pointer;
    text-align: center;
    width: 100px;
    height: 100px;
    margin-top: 2%;
    font-family: JejuMyeongjo;
    border-radius: 25px;
}

.listening-btn-group{
    display: flex;
    height: 100px;  
    gap: 8%;
    width: 60%;
    margin-left: 20%;
    margin-top: 1%;
    justify-content: center;
    flex-wrap: wrap;
}
.listening-btn-group button{    
    z-index: -2;
    padding: 34px 10px;
    cursor: pointer;
    width: 100px;
    height: 100px;
    margin-top: 2%;
}

/* ABOUT SECTION -------------------------------------------------------------------------------------------------------------------------------------------------------*/

.about-container{
    display: flex;  
    gap: 10%;
    max-width: 1200px;
    width: 60%;
    margin-left: 20%;
    justify-content: center;
    flex-wrap: wrap;
}

.profileimage{
    background-image: url("picture.jpg");
    height: 350px;
    width: 350px;
    border-radius: 25px;

}

.text-container{
    display: flex;
    width: 40%;
    flex-wrap: wrap;
    align-items: center;
}

p {
    font-family: JejuMyeongjo;
    font-size: larger;
    color:white;
}

/* FOLLOW SECTION -------------------------------------------------------------------------------------------------------------------------------------------------------*/

.follow-btn-group {
    display: flex;
    height: 100px;  
    width: 100vw; 
    justify-content: center;
    top: 100px;
    gap: 50px;
}

.follow-btn-group button {
    color: white;
    padding: 34px 34px;
    cursor: pointer;
    text-align: center;
    width: 100px;
    height: 100px;
    margin-top: 500px;
    font-family: JejuMyeongjo;
    transform: scale(0.1, 0.1);
}

.theme-btn-group button:hover{
    background-color: aliceblue;
    color: black;
}

/* AUDIO REQUEST -------------------------------------------------------------------------------------------------------------------------------------------------------*/

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    margin-left: 50%;
    margin-top: 20%;
  }

.overlay{
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 99999;
    
}

.audio-box {
    width: 15%;
    height:20%;
    position: fixed;
    justify-content: space-around;
    background-color: #A0A0A0;
    position: fixed;
    z-index: 100000;
    border-radius: 25px;
    font-family: JejuMyeongjo;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20%;

}

.audio-box button{
    color: #A0A0A0;
    cursor: pointer;
    text-align: center;
    width: 20%;
    height: 20%;
    margin-top: 35%;
    font-family: JejuMyeongjo;
}

h3{
    font-family: JejuMyeongjo;
    position: absolute;
    color: rgb(255, 255, 255)    ;
    font-size:large;
    word-wrap: break-word;
    margin-top: 15%;
    word-wrap: break-word;
    text-align: center;
    z-index: 999999999;
  } 

